@page
@model IndexModel
@{
    ViewData["Title"] = "Tools Location";
}

<div class="text-center">
    <h1 class="display-4">WHere are my tools?</h1>
    

    <h2>Never loose your tools again with this webapp!</h2>
    <hr />

    <p>Register a new user to for access.</p>
    <hr />
    

</div>
